<ion-header class="header-yellow">
  <ion-toolbar>
    <ion-title class="ion-text-center title-header-acercade">
      Acerca de Nosotros
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" class="icon-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center title-card">
        ¡Bienvenido a nuestra aplicación de administración de taxis!
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Nuestra aplicación está diseñada para ayudarte a mantener un inventario eficiente de tus taxis.
        Podrás agregar, editar y eliminar información sobre cada taxi, como el propietario, el modelo y la placa.
        También ofrecemos funciones adicionales, como la capacidad de ver y editar la lista completa de taxis.
      </p>
      <p>
        Esperamos que encuentres útil nuestra aplicación y que te facilite la gestión de tus taxis.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
