.title-header-acercade {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;

}

.custom-card {
  width: 100%;
  margin: 0 auto;
}

.title-card {
  font-size: 1.5em;
  font-weight: bold;
  height: 100px;
}
