<ion-content>
  <form (ngSubmit)="crearTaxi()">
    <ion-item>
      <ion-label position="stacked">Nombre del propietario</ion-label>
      <ion-input name="propietario" [(ngModel)]="nuevoTaxi.propietario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Modelo del taxi</ion-label>
      <ion-input name="modelo" [(ngModel)]="nuevoTaxi.modelo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Placa del vehículo</ion-label>
      <ion-input name="placa" [(ngModel)]="nuevoTaxi.placa" required></ion-input>
    </ion-item>

    <ion-button type="submit">Crear Taxi</ion-button>
  </form>
</ion-content>
