.car1-icon {
  color: yellow;
}

.person1-icon {
  color: antiquewhite;
}

.title-header-edit {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.imgtxEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  margin-top: 20px;
}
